/.screeps.json
/node_modules/*
/role.tower.js
/notes.js
/profilesInCPU
/screeps-master
/carrier_backup.js
/src_backup_old
/have_you_got_the_minerals.json.txt
/screeps-backup-master.zip
/screeps-backup-master/
/src/spawn.ts
/spawn.ts
/towerman.ts
/src/sjcl.js
/src/infra.commguy.js
/src/ignore.js
/quorum_layout.png
